<div class="search">
    <input data-news-target="search" type="text" value="{{ query }}">
    <button data-action="news#initList">search</button>
</div>

<table width="800">
    {% for entry in news %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.content }}</td>
            <td><a href="{{ entry.url }}" target="_blank">link</a></td>
            <td>{{ entry.publishedAt | date('d F o H:i:s e') }}</td>
        </tr>
    {% endfor %}
</table>

{% if news is not empty %}
    {% if (news | first).publishedAt < minMaxPublishedAt.max %}
        <button
                data-action="news#loadNews"
                data-news-last-published-at-param="{{ (news | first).publishedAt }}"
                data-news-direction-param="back"
        >
            back
        </button>
    {% endif %}
    {% if (news | last).publishedAt > minMaxPublishedAt.min %}
        <button
                data-action="news#loadNews"
                data-news-last-published-at-param="{{ (news | last).publishedAt }}"
                data-news-direction-param="forward"
        >
            forward
        </button>
    {% endif %}
{% endif %}