<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="breadcrumbs">
            <div>
                {% if app.user %}
                    <a href="{{ path('panel') }}">Users</a>
                    <a href="{{ path('news') }}">News</a>
                {% endif %}
            </div>
            <div>
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    <a href="{{ path('app_login') }}">login</a>
                    <a href="{{ path('app_register') }}">register</a>
                    <a href="{{ path('confirm') }}">confirm</a>
                {% endif %}
            </div>
        </div>

        <div
                data-controller="app"
                data-app-mercure-url-value="{{ mercure('http://' ~ appDomain ~ '/update') }}"
        ></div>
        {% block body %}{% endblock %}
    </body>
</html>
